name: Release macOS

permissions:
  contents: write

on:
  push:
    tags:
      - "v*"

jobs:
  build-macos:
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v3

      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable

      - name: Build Release
        run: cargo build --release --bin happy

      - name: Archive Binary
        run: |
          cd target/release
          tar -czf happy-macos-x86_64.tar.gz happy
          mv happy-macos-x86_64.tar.gz ../../

      - name: Release
        uses: softprops/action-gh-release@v1
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: happy-macos-x86_64.tar.gz
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
